<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .orange {
            background-color: orange;
        }
        h1 {
        color: orange;
        font-family: verdana;
        font-size: 300%;
        }
        h3 {
        color: orange;
        font-family: verdana;
        font-size: 300%;
        }
    </style>
</head>

<body>
    <h1>Let's find out your skin type!</h1>
    <h3>Enter your information to introduce you</h3>
     
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name">
    <br>
    <label for="Age">Age:</label>
    <input type="text" id="Age" age="Age">
    <br>
    <button class= "orange">Submit</button>
    <button onclick="clickable()">Submit</button>
    <p id="monday"></p>
    <script>
        function clickable(){
            document.getElementsById("monday").innerHTML= `thank you!`
        }
        function redirect(){
            window.location.href="./congratulation.html"
        }
    </script>
</body>
</html>